:root {

}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, red, blue);
}

/* CONTENT DIV */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 4em;
    height: 3.3em;
    background-color: green;
    color: white;
    border: 5px solid white;
    border-radius: 10px;
    outline: 6px solid green;
}

.button:hover {
    cursor: pointer;
}

.content-inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-name-input {
    font-size: 3em;
    border-radius: 15px;
    text-align: center;
    padding: 0.2em;
    margin: 1em;
    width: 8em;
}

.player-name-input::placeholder {
    color: grey;
}

.enter-input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 0.2em;
    border-radius: 15px;
    text-align: center;
    padding: 0.2em;
    color: white;
    border: 0.2em solid white;
    background-image: linear-gradient(45deg, red, blue);
}

.enter-input:hover {
    cursor: pointer;
}

.enter-input:active {
    transform: translateY(2px);
}

.player-turn {
    font-size: 3em;
    font-weight: 500;
    color: white;
}

/* GRID CONTAINER DIV*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    margin: 4em;
}

.grid-container.inactive {
    pointer-events: none;
}

.card {
    background-color: transparent;
    border: 1px solid black;
    perspective: 1000px;
}

.card.inactive {
    pointer-events: none;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.8s;
    transform-style: preserve-3d;
}

.flip-card.flipped {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-image: linear-gradient(45deg, grey, white);
    color: white;
}

.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    background-image: linear-gradient(45deg, blue, white);
    color: white;
    transform: rotateY(180deg);
}
